.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.btn {
  margin-right: 6px;
}

.Detail__link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.btn__add__stud {
  margin-bottom: 6px;
}

.card__body__up {
  display: flex;
  justify-content: flex-start;
}

.container {
  padding-top: 50px;
}

.list__item__id {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
